body {
  color: #333333;
  font-family: sans-serif;
  margin: 24px;
}

h1 {
  color: #3492ff;
  margin: 0;
}

#main-form {
  margin-top: 32px;
}

#main-form label {
  display: block;
}

#main-form textarea {
  height: 250px;
  margin-top: 16px;
  width: 40%;
}

#main-form .button-place {
  margin-top: 16px;
}

#main-form .button-place button {
  background: #3492ff;
  border: 1px solid #3492ff;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}

#main-form .button-place button:hover {
  background: transparent;
  color: #3492ff;
}

.author {
  position: absolute;
  top: 16px;
  right: 16px;
}

.author a {
  color: #3492ff;
  text-decoration: none;
}

.author a:hover {
  text-decoration: underline;
}

.result {
  margin-top: 32px;
}

#result-table {
  border-collapse: collapse;
  margin-top: 16px;
}

#result-table tr td,
#result-table tr th {
  border: 1px solid #999;
  padding: 8px;
}
